doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Global Abundance Project
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
	body
		.container-fluid
			.row.clearfix
				#wrapper-content.container.bg-yellow
					.row.clearfix
						.col-md-8.col-sm-8.col-md-offset-2.logo
							img.center-block.img-responsive(src='./img/logo.png')
					.row.clearfix
						.col-md-12.col-sm-12.text-right
							p
								| Hi, #{user_name}   
								a.font-yellow(href='/logout') Logout
					.row.clearfix
						.col-md-12
							h2 Borrowers:
					.row.clearfix.borrower-list
						.col-md-12.table-responsive
							table.table
								tbody
									- each item in borrowerList
										tr
											td
												p=	item.borrower_eth_address
												p
													strong QI
													strong=	item.amount
											td
												p=	item.your_story
												p 17 Days
											td
												a.btn.btn-default(href='/loan_accept?e=#{item.id}') Offer Loan
		script(src='js/bootstrap.min.js')
		script(src='js/scripts.js')
