doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Global Abundance Project
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
	body
		.container-fluid
			.row.clearfix
				#wrapper-content.container.loan-flow1
					.row.clearfix
						.col-md-4.col-sm-4.logo
							img.center-block.img-responsive(src='./img/logo-white.png')
						.col-md-8.col-sm-8.text-right
							p
								| Hi, #{user_name}    
								a.font-yellow(href='/logout') Logout
					.row.form-group
						.col-md-12
							img.img-responsive(src='./img/story.png')
						.col-md-12.text-center
							h3 My story
								- each item in storyDetails
									p=	item.your_story
			script.
				$.ajax({
				url: '/retrieve',
				complete: function(data) {
				var myBooks = JSON.parse(data.responseText);
				var col = [];
				for (var i = 0; i < myBooks.length; i++) {
				for (var key in myBooks[i]) {
				if (col.indexOf(key) === -1) {
				col.push(key);
				}
				}
				}
				// CREATE DYNAMIC TABLE.
				var table = document.createElement("table");
				// CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
				var tr = table.insertRow(-1);                   // TABLE ROW.
				for (var i = 0; i < col.length; i++) {
				var th = document.createElement("th");      // TABLE HEADER.
				th.innerHTML = col[i];
				tr.appendChild(th);
				}
				// ADD JSON DATA TO THE TABLE AS ROWS.
				for (var i = 0; i < myBooks.length; i++) {
				tr = table.insertRow(-1);
				for (var j = 0; j < col.length; j++) {
				var tabCell = tr.insertCell(-1);
				tabCell.innerHTML = myBooks[i][col[j]];
				}
				}
				// FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
				var divContainer = document.getElementById("showData");
				divContainer.innerHTML = "";
				divContainer.appendChild(table);
				}
				});
			script(src='js/bootstrap.min.js')
			script(src='js/scripts.js')
