<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Global Abundance Project</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">		
			<div class="row clearfix">
				<div class="container bg-yellow" id="wrapper-content">
					<div class="row clearfix">
						<div class="col-md-8 col-sm-8 col-md-offset-2 logo">
							<img src="./img/logo.png" class="center-block img-responsive">
						</div>	
					</div>	
					<div class="row clearfix">
						<div class="col-md-12 col-sm-12 text-right">
							<p>Hi, Username &nbsp; <a href="/logout" class="font-yellow">Logout</a></p>
						</div>												
					</div>
					<div class="row clearfix">
						<div class="col-md-12">
							<h2>Borrowers:</h2>
						</div>
					</div>
					<div class="row clearfix borrower-list">
						<div class="col-md-12 table-responsive">
							<table class="table ">								
								<tbody>
									<tr>
										<td>
											<p>0xa609653c58c36e5fb905627fad46dd28b112504b</p>
											<p>QI150</p>												
										</td>																						
										<td>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<p>60 Days(10+10+10+10+10+10)</p>											
										</td>
										<td><button class="btn btn-default">Offer Loan</button></td>
									</tr>
									<tr>
										<td>
											<p>0xa609653c58c36e5fb905627fad46dd28b112504b</p>
											<p>QI150</p>												
										</td>																						
										<td>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<p>60 Days(10+10+10+10+10+10)</p>											
										</td>
										<td><button class="btn btn-default">Offer Loan</button></td>
									</tr>
									<tr>
										<td>
											<p>0xa609653c58c36e5fb905627fad46dd28b112504b</p>
											<p>QI150</p>												
										</td>																						
										<td>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<p>60 Days(10+10+10+10+10+10)</p>											
										</td>
										<td><button class="btn btn-default">Offer Loan</button></td>
									</tr>
									<tr>
										<td>
											<p>0xa609653c58c36e5fb905627fad46dd28b112504b</p>
											<p>QI150</p>												
										</td>																						
										<td>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<p>60 Days(10+10+10+10+10+10)</p>											
										</td>
										<td><button class="btn btn-default">Offer Loan</button></td>
									</tr>
									<tr>
										<td>
											<p>0xa609653c58c36e5fb905627fad46dd28b112504b</p>
											<p>QI150</p>												
										</td>																						
										<td>
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
											<p>60 Days(10+10+10+10+10+10)</p>											
										</td>
										<td><button class="btn btn-default">Offer Loan</button></td>
									</tr>
								</tbody>
							</table>												
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>