<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Global Amundance Program</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="container loan-flow1" id="wrapper-content">
					<div class="row clearfix">
						<div class="col-md-4 col-sm-4 logo">
							<img src="./img/logo-white.png" class="center-block img-responsive">
						</div>	
						<div class="col-md-8 col-sm-8 text-right">
							<p>Hi, Username &nbsp; <a href="/lender_login" class="font-yellow">Logout</a></p>
						</div>												
					</div>	  									
					<div class="row clearfix bg-transp elig-box">
						<div class="col-md-8 col-md-offset-2">
							<ul class="list-unstyled dashboard-list">
								<li> <a href="/" class="font-white">Notifications <sup class="badge badge-green">42</sup></a></li>
								<li> <a href="/loans_given" class="font-white">Loans Given <sup class="badge badge-green">7</sup></a></li>
								<li> <a href="/" class="font-white">Lend Money</a></li>
								<li> <a href="/" class="font-white">Track Qi Coin</a></li>
								<li> <a href="/" class="font-white">Settings</a></li>
							</ul>
						</div>
					</div>
				</div>                
			</div>
		</div>
        <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
		<script>
			window.addEventListener('load', function() {
				// Load WEB3
				// Check wether it's already injected by something else (like Metamask or Parity Chrome plugin)
				if(typeof web3 !== 'undefined') {
					web3 = new Web3(web3.currentProvider);  
				// Or connect to a node
				} else {
					web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
				}

				// Check the connection
				if(!web3.isConnected()) {			
					console.error("Not connected");
				}
				
				var account = web3.eth.accounts[0];
				document.getElementById("address").innerHTML = account;
				var accountInterval = setInterval(function() {
					if (web3.eth.accounts[0] !== account) 
					{			  
						account = web3.eth.accounts[0];				
						if(account)
						{ 
							web3.version.getNetwork((err, netId) => {
								if(netId == 1)
								{
									//window.location = 'http://localhost:3000/signup';
									document.getElementById("address").innerHTML = account;
								}
								else
								{
									window.location = 'http://localhost:3000';
								}
							})
						}
						else
						{
							window.location = 'http://localhost:3000';
						}
					}
				}, 100);						
			});
			
			web3.eth.getAccounts(function(err, accounts){
				if (accounts.length == 0) window.location = 'http://localhost:3000';
			});
		</script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/scripts.js"></script>
	</body>
</html>