<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Global Amundance Program</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="container onbording" id="wrapper-content">
					<div class="row clearfix">
						<div class="col-md-8 col-md-offset-2 text-center logo">
                        	<img src="./img/logo.png" class="center-block img-responsive">
                    	</div>
						<div class="col-md-12 text-center">
							<h3 class="font-green section-heading">Sign In</h3>
							<h4>Lender | <a href="/signup">Borrower</a></h4>
						</div>
						<div class="col-md-8 col-md-offset-2 text-center">
							<form action="/lender_login" method="post">
								<div class="row form-group">
									<div class="col-md-12">
										<input type="text" required class="form-control" name="lender_name" id="lender_name" placeholder="Username">										
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-12">
										<input type="password" required class="form-control" name="lender_pass" id="lender_pass" placeholder="Password">										
									</div>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-warning btn-lg">Sign In</button>
								</div>
							</form>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/scripts.js"></script>
	</body>
</html>