doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Loan Flow 1
		meta(name='description', content='Source code generated using layoutit.com')
		meta(name='author', content='LayoutIt!')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href='css/style.css', rel='stylesheet')
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
	body
		.container-fluid
			.row.clearfix.pt-10
				#wrapper-content.container
					.row.clearfix
						.col-md-12.text-center
							.box
								h3.text-warning Repayments Due:
								p  
								.table-reponsive
									table#showData.table.table-striped
									table.table.table-striped
										thead
											tr
												th ETH Address
												th Phone number
												th Date
										tbody
											- each item in loanList
												tr
													td= item.eth_address
													td= item.phone_number
													td= item.created_at											
										tfoot
											tr
												td(colspan='4')
													button.btn.btn-success.pull-right Refresh
							hr
						.col-md-12.text-center
							h3.text-info Repayments Instuctions:
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							h2 send to
							p.text-success 0xa609653c58c36e5fb905627fad46dd28b112504b